body, html {
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    font-size: pxToVp(16px);
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    //justify-content: center;
    align-items: center;
}
