.heart-score {
    position: absolute;
    width: pxToVp(100);
    height: pxToVp(100);
    //background-color: rgba(242, 179, 179, .3);
    display: block;
    cursor: pointer;
    z-index: 1;
}

.heart-wrapper {
    width: 100%;
    heigth: 100%;
    display: inline-block;
}

.heart {
    display: inline-block;
    position: fixed;
    margin-left: 0;
    width: pxToVp(100);
    height: pxToVp(100);
    overflow: hidden;
    left: 0;

    &:before, &:after {
        top: pxToVp(-10);
        content: '.';
        color: transparent;
        display: inline-block;
        position: absolute;
        width: pxToVp(40);
        height: pxToVp(70);
        background-color: rgba(242, 78, 78, 1);
        border-radius: pxToVp(20) pxToVp(20) 0 0;
    }
    &:before {
        left: pxToVp(-20);
        transform-origin: 171% 2%;
        transform: rotate(-45deg);
    }
    &:after {
        left: pxToVp(20.5);
        background-color: rgba(242, 78, 78, 1);
        transform-origin: 0 100%;
        transform: rotate(45deg);
    }

    @for $i from 1 through 4 {
        &:nth-of-type(#{$i}) {
            top: #{($i - 1) * 20vh};
            animation: ani-heart-left-to-right;
            animation-duration: random(8) + 2 + s;
            animation-delay: random(2) + s;
        }
    }

    @for $i from 5 through 9 {
        &:nth-of-type(#{$i}) {
            right: 0;
            left: inherit;
            top: #{($i - 5) * 20vh};
            animation: ani-heart-right-to-left;
            animation-duration: random(10) + 2 + s;
            animation-delay: random(5) + 2 + s;
        }
    }

    opacity: 0;
    animation-timing-function: linear;
    animation-fill-mode: forwards !important;
}
