.moon-wrapper {
    top: pxToVp(30);
    right: pxToVp(10);
    position: absolute;
}

.moon {
    position: relative;
    background-color: $moon;
    width: pxToVp(100px);
    height: pxToVp(100px);
    box-shadow: inset pxToVp(-12px) pxToVp(6px) pxToVp(1px) $moon-bg;
    border-radius: 50%;
}

.moon-crater-1,
.moon-crater-2,
.moon-crater-3 {
    position: relative;
    &:before,
    &:after {
        content: '';
        top: pxToVp(0);
        left: pxToVp(0);
        position: absolute;
        display: inline-block;
        border-radius: 50%;
        width: pxToVp(20px);
        height: pxToVp(20px);
        background-color: $moon-crater;
        box-shadow: inset pxToVp(4px) pxToVp(-2px) pxToVp(1px) $moon-bg;
    }
}

.moon-crater-1:before {
    top: pxToVp(50);
    left: pxToVp(10)
}

.moon-crater-1:after {
    top: pxToVp(70);
    left: pxToVp(35);
    width: pxToVp(10px);
    height: pxToVp(10px);
}

.moon-crater-2:before {
    top: pxToVp(20);
    left: pxToVp(60);
    width: pxToVp(13px);
    height: pxToVp(13px);
}

.moon-crater-2:after {
    top: pxToVp(15);
    left: pxToVp(25);
    width: pxToVp(15px);
    height: pxToVp(15px);
}


.moon-crater-3:before {
    top: pxToVp(60);
    left: pxToVp(70);
    width: pxToVp(11px);
    height: pxToVp(11px);
}

.moon-crater-3:after {
    top: pxToVp(85);
    left: pxToVp(45);
    width: pxToVp(8px);
    height: pxToVp(8px);
}

