/**
 * Design base
 */
$design-base-width: 320px;
$design-base-vw-ratio: 3.2;

/**
 * Colours
 */
$white: #fff;

// Rocket
$rocket-head: #ee5486;
$windmill-propeller: $rocket-head;
$rocket-window: #17A79D;

// Moon
$moon-bg: #3B4757;
$moon: #c7cbd0;
$moon-crater: #737277;