.count-down-clock-wrapper {
    display: inline-block;
    width: pxToVp(50);
    height: pxToVp(50);
    position: fixed;
    bottom: pxToVp(21);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    border: 5px solid cornflowerblue;
}

.count-down-clock-thick:nth-of-type(2) {
    transform: rotate(90deg);
}

.count-down-clock-thin:nth-of-type(3) {
    transform: rotate(30deg);
}

.count-down-clock-thin:nth-of-type(4) {
    transform: rotate(60deg);
}

.count-down-clock-thin:nth-of-type(5) {
    transform: rotate(120deg);
}

.count-down-clock-thin:nth-of-type(6) {
    transform: rotate(150deg);
}

.count-down-clock-thin,
.count-down-clock-thick {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    &:before, &:after {
        position: absolute;
        top: 0;
        left: 47%;
        content: '';
        background-color: darkblue;
        margin-top: 3%;
        width: 4%;
        height: 20%;
    }

    &:after {
        margin-top: 77%;
        transform: rotate(180deg);
    }
}

.count-down-clock-thin {
    &:before, &:after {
        position: absolute;
        top: 0;
        left: 47%;
        content: '';
        background-color: darkblue;
        margin-top: 3%;
        width: 2%;
        min-width: 1px;
        height: 10%;
    }

    &:after {
        margin-top: 87%;
        transform: rotate(180deg);
    }
}

.count-down-right {
    right: 0;
    & .count-down-timer {
        right: 0;
    }
}

.count-down-right,
.count-down {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: pxToVp(60);
    overflow: hidden;
}

.count-down-progress-bar {
    position: absolute;
    bottom: pxToVp(36);
    left: pxToVp(34);
    animation: ani-count-down-progress-bar 12s linear 1 forwards;
    border-radius: pxToVp(10px);
    background-color: #f0a3a3;
    background-color: rgba(255, 255, 255, .7);
    height: pxToVp(20px);
    box-shadow: inset 0 pxToVp(2px) pxToVp(9px) rgba(255, 255, 255, 0.3), inset 0 pxToVp(-2px) pxToVp(6px) rgba(0, 0, 0, 0.4);
}

.count-down-timer {
    height: pxToVp(50px);
    line-height: pxToVp(50px);
    width: pxToVp(50px);
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    position: fixed;
    overflow: hidden;
    bottom: pxToVp(21);
}

.count-down-score-text:after,
.count-down-timer-text:after {
    position: relative;
    animation: ani-count-down 12s steps(12) 1 forwards;
    content: "12\00000a11\00000a10\00000a9\00000a8\00000a7\00000a6\00000a5\00000a4\00000a3\00000a2\00000a1\00000a0";
    line-height: pxToVp(50);
    white-space: pre;
    width: pxToVp(50);
    text-align: center;
    display: inline-block;
}

.count-down-score-text:after {
    margin-top: pxToVp(-600);
    animation: none;
}

.input-score {
    display: none;
    &:checked + .heart {
        display: none;
    }
}

.input-score:checked ~ .count-down-timer > .count-down-score-text:after {
    margin-top: pxToVp(-550);
}

.input-score:checked ~ .input-score:checked ~ .count-down-timer > .count-down-score-text:after {
    margin-top: pxToVp(-500);
}

.input-score:checked ~ .input-score:checked ~ .input-score:checked ~ .count-down-timer > .count-down-score-text:after {
    margin-top: pxToVp(-450);
}

.input-score:checked ~ .input-score:checked ~ .input-score:checked ~ .input-score:checked ~ .count-down-timer > .count-down-score-text:after {
    margin-top: pxToVp(-400);
}

.input-score:checked ~ .input-score:checked ~ .input-score:checked ~ .input-score:checked ~ .input-score:checked ~ .count-down-timer > .count-down-score-text:after {
    margin-top: pxToVp(-350);
}

.input-score:checked ~ .input-score:checked ~ .input-score:checked ~ .input-score:checked ~ .input-score:checked ~ .input-score:checked ~ .count-down-timer > .count-down-score-text:after {
    margin-top: pxToVp(-300);
}

.input-score:checked ~ .input-score:checked ~ .input-score:checked ~ .input-score:checked ~ .input-score:checked ~ .input-score:checked ~ .input-score:checked ~ .count-down-timer > .count-down-score-text:after {
    margin-top: pxToVp(-250);
}

.input-score:checked ~ .input-score:checked ~ .input-score:checked ~ .input-score:checked ~ .input-score:checked ~ .input-score:checked ~ .input-score:checked ~ .input-score:checked ~ .count-down-timer > .count-down-score-text:after {
    margin-top: pxToVp(-200);
}


