.sun {
    width: 500px;
    height: 500px;
    -webkit-filter: blur(4px);
    position: absolute;
    left: pxToVp(50px);
    top: pxToVp(100px);
    width: pxToVp(20px);
    margin-left: pxToVp(30px);
    height: pxToVp(140px);
    background: -webkit-linear-gradient(to top,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    animation: ani-sunny 15s linear infinite;
    &:before {
        position: absolute;
        content: '';
        width: pxToVp(20px);
        height: pxToVp(140px);
        background: -webkit-linear-gradient(to top,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.8) 50%,
            rgba(255, 255, 255, 0) 100%
        );
        transform: rotate(90deg);
    }
    &:after {
        top: pxToVp(20px);;
        left: pxToVp(-40px);;
        position: absolute;
        content: '';
        background: #FFEE44;
        box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 15px;
        border-radius: 50%;
        width: pxToVp(100px);
        height: pxToVp(100px);

    }
}

